*{
	padding: 0;
	margin: 0;
	text-align: center;
	
}

body {
	background-image: url(Japon/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

img {

	border: 3px solid black;
	width: 500px;
	float: left;
	margin-right: 15px;
}

nav ul {
	box-sizing: border-box;
	text-decoration: none;
	list-style:none; 
}

footer {
	width: 100%;
	height: 140px;
	background-color: #ed5d53;
	color: black;
	margin-top: 30px;
}

footer p {
text-align: center;
padding: 40px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	min-height: 80px;
	 background: linear-gradient(150deg, #f50505, #f59f9f);
}



 .menu .navbar ul li a {
 	position: relative;
 	float: left;
 }

 .menu .navbar ul li a {
 	font-size: 18px;
 	padding: 20px;
 	color: black;
 	display: block;
 	font-weight: bold;
 }

.menu .navbar ul li a:hover {
	color: white;

}

#menu {
	display: none;
}

.menu-icono {
	width: 25px;
}

.titulo{
	padding: 1px;
	color: #d1040e;
	background-color: #4d0702;
	width: 100%;
	border: 3px solid black;

}
.contenido {
	display: flex;
	width: 80%;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 15px;
	background-color: #ed5d53;
	border: 2px solid rgb(0, 0, 0);
}
.contenido.articulo{
	width: 70%;
	margin: auto;
	width: 100%;
	height: 100vh;
	position: absolute;
}

.contenido.articulo div {
	width: 90%;
	margin-bottom: 15px;
	width: 1000px;
	height: 500px;
	padding: 30px 30px;
	background: #c24138;
}


